.shop-container {
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.products-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 45px;
    margin-left: 80px;
    margin-right: 78px;
    margin-top: 90px;
}

.cart-container {
    background-color: #FFE0B3;
    padding: 20px;
}


/* @media screen and (mim-width:576px) {
    .shop-container {
        grid-template-columns: repeat(4, 1fr);
    }

} */

@media screen and (max-width:576px) {
    .shop-container {
        display: inline;
    }

}

@media screen and (max-width:992px) {
    .products-container {
        grid-template-columns: repeat(2, 1fr);
    }

}

@media screen and (max-width:576px) {
    .products-container {
        grid-template-columns: repeat(1, 1fr);
    }
}