.header {
    height: 80px;
    background-color: #1C2B35;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: sticky;
    top: 0;
    z-index: 1;
}

.nav-link a {

    color: #fff;
    text-decoration: none;
    font-size: 17px;
    margin-left: 36px;
}

.btn-out {
    color: #fff;
    background-color: #1C2B35;
    border: none;
    font-size: 17px;
    margin-left: 10px;
}

.btn-out:hover {
    color: rgb(214, 14, 221);
}

.header a:hover {
    color: rgb(214, 14, 221);
}